/* Reset */
*{
     box-sizing: border-box;
     box-sizing: 0;
    padding:0;
    
}
html {
    font-size: 20px;
    font-family: 'Boogaloo', sans-serif;
}

header {
    background-color: #F633FF;
    color: #FFFF;
    font-size: 30px;
}

img {
    width:30% ;
    height: auto;
}
h2 {
   
    text-align:right;
    font-size: 20px;
    font-style:oblique;
    word-spacing:2px;
}

ul {
    list-style-type: none;
    color:#DCA8DB;
    display: flex;
    justify-content: space-around;
    border: 5px solid #F633FF;
    margin-bottom: 25px;
}

li a {
    text-decoration: none;
    display: block;
    width: 100px;
    padding: 15px;
    background-color:#fff;
    color: #DCA8DB;
}
li a:hover {
    background-color: #DCA8DB;
color: #FFFF;
}
 
.shopper {
    height:400px;
    background:#fff url("../images/glitter.jpg") no-repeat;
    background-position: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-bottom: 25px;
    }
    .shopper button {
        background-color: #fff;
        width: 70px;
        height: 55px;
        color: #DCA8DB;
       font-size: 1.2rem; 
        text-decoration: none;
    }
.new-arrivals {
    margin: 10px;
}
h3 {
    display: flex;
    font-size: 2rem;
    color: #F633FF;
    margin-bottom: 5px;
    
}

.new-arrivals-parent{
    display: flex;
    background:no-repeat;
    padding:5px;
}
.new-items {
    width: 25%;
}
.new-items button {
    display: flex;
    align-items:center;
    justify-content:center;
    border:none;
    background-color:#F633FF;
    padding:10px;
    color:#fff;
    font-size: 1rem;
    border-radius: 5px;
    margin: 10px 0px 0px 30px;
}
.new-items img {
    width: 75%;
    padding: 6px;
    background-position: center;
}
.name {
    color:#DCA8DB;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 4px;
     padding:0 40px;
}
.product-type {
    color: #DCA8DB;
     padding:0 40px;
}
.price {
    color: #DCA8DB;
    font-weight: bolder;
    padding:0 40px;
}

h4 {
    display: flex;
    font-size: 2rem;
    color: #F633FF;
    margin-bottom: 5px;
}

.faves {
    margin: 10px;
}

.faves-parent{
    display: flex;
    background:no-repeat;
    justify-content: center ;
    padding:5px;
}
.faves-items {
    width: 25%;
}
.faves-items button {
    display: flex;
    align-items:center;
    justify-content:center;
    border:none;
    background-color:#F633FF;
    padding:10px;
    color:#fff;
    font-size: 1rem;
    border-radius: 5px;
    margin: 10px 0px 0px 30px;
    
    
}
.faves-items img {
    width: 75%;
    padding: 6px;
    background-position: center;
}

button {
    font-family: Boogaloo;
}
/* About Me Page*/
.wrapper{
   height:350px;
    background-image:url(../images/lex.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.me{   
    display: flex;
    font-size: 1rem;
    color: #DCA8DB;
    text-align: center;
    justify-content: center; 
}

/* FAQ Page*/
.refund-child {
    display: flex;
    font-size: 1rem;
    color: #DCA8DB;
    margin-bottom: 5px;
}
.ship{
    display: flex;
    font-size: 1rem;
    color: #DCA8DB;
    margin-bottom: 5px;
}

h5{
    color:#F633FF;
    font-size: 2rem;
    margin-bottom:20px;
}

.order-div{
    font-size: 1rem;
    color: #DCA8DB;
}

h6{
     color:#F633FF;
    font-size: 2rem;
    margin-bottom: 5px;
}
/*Why can't i close the spaces in btwn??*/
.cruelfree{
    display: flex;
    font-size: 1rem;
    color: #DCA8DB;
    margin-top: 35px;
    margin-bottom: 300;
}
/* Contact Us Page*/
.model2 {
    height:600px;
    background:#fff url("../images/model2.jpg") no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.contact {
    text-align: center;
    margin-left: 560px
}
form{
    padding: 10px;
    font-size: 1rem;
    color: #DCA8DB;
    margin:0 560px 0;
}

.form-button {
    color: #F633FF;
    width: 90px;
    height: 60px;
    font-size: 1.5rem;
    margin-left: 610px;  
}
footer {
    display: block;
    width: 100%;
    height:auto;
   background-color:#F633FF;
   color: white;
   text-align: center;
   text-decoration: none;
   padding:1rem;
}
.foot{
    padding-top:40px;
    color:white;
}

